In [178]:
# Hindi_English_Word Classifcation

# Step1 : read the dataset(label)
# Step2 : Create word2Id dictionary for the ascii
#           {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5....}
# Step 3: Create the Charters Matrix for the word Corpus
#        [['c', 'r', 'i', 'c', 'k', 'e', 't'],['c', 'h', 'a', 'l'],['r', 'a', 'h', 'a']]......
#Step 4: Convert word to respected Interger value(Sequence matrix)
#        [[3, 18, 9, 3, 11, 5, 20], [3, 8, 1, 12], [18, 1, 8, 1]]
#Step 5: Padding the Sequcne of max length = 30
#        array([ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
#                0,  0,  0,  0,  0,  0,  3, 18,  9,  3, 11,  5, 20])
#Step 6: Encode the target values {0:"English",1:"Hindi"}
#Step 7: Create Keras model alsog with LSTM layers
#Step 8: Reshape the X_doc_vec to 3D
#        X_train=X_train.reshape(10199,30,1)
#Step 9: Crate Prediction function which reads and convert to respected vector form for prediction

In [310]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

data = pd.read_csv(r"New_Hinglish_Classification_final_1.csv")

In [179]:
data.shape

(12749, 3)

In [180]:
data.head(3)

   english     Word label
0        0  cricket    en
1        1     chal    hi
2        2     raha    hi

In [181]:
data['label'] = data['label'].map({'en':"English",'hi':"Hindi"})

data = data[['Word','label']]

In [182]:
data['label_encoded'] = data['label'].map({"English":0,"Hindi":1})

In [183]:
data.head()

      Word    label  label_encoded
0  cricket  English              0
1     chal    Hindi              1
2     raha    Hindi              1
3     hain    Hindi              1
4     yaha    Hindi              1

In [184]:
data['label'].value_counts()

English    6935
Hindi      5814
Name: label, dtype: int64

In [185]:
data.isnull().sum()

Word             0
label            0
label_encoded    0
dtype: int64

In [186]:
# Create a dictionary for alphabets and integer value

from string import ascii_lowercase

od = dict(((x,y) for y,x in enumerate(ascii_lowercase,1)))

print(od)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8, 'i': 9, 'j': 10, 'k': 11, 'l': 12, 'm': 13, 'n': 14, 'o': 15, 'p': 16, 'q': 17, 'r': 18, 's': 19, 't': 20, 'u': 21, 'v': 22, 'w': 23, 'x': 24, 'y': 25, 'z': 26}

In [187]:
# Preprocessing :Lower case the word

data['Word'].apply(lambda x : x.lower())

0          cricket
1             chal
2             raha
3             hain
4             yaha
           ...
12744    challenge
12745      winners
12746           at
12747     paradise
12748       photos
Name: Word, Length: 12749, dtype: object

In [188]:
#list(data['label'])

word = [x for x in list(data['Word'])]
word_vec = [[char for char in s] for s in labels]

word_vec[:10]

[['c', 'r', 'i', 'c', 'k', 'e', 't'],
 ['c', 'h', 'a', 'l'],
 ['r', 'a', 'h', 'a'],
 ['h', 'a', 'i', 'n'],
 ['y', 'a', 'h', 'a'],
 ['i'],
 ['l', 'i', 'k', 'e', 'd'],
 ['a'],
 ['y', 'o', 'u', 't', 'u', 'b', 'e'],
 ['v', 'i', 'd', 'e', 'o']]

['E', 'n', 'g', 'l', 'i', 's', 'h']

In [237]:
def word2id(word):
    new_vec = []
    
    word = word.lower()
    
    vec = []
    for j in word:
        value = od[j]
        vec.append(value)
    new_vec.append(vec)
    
    return new_vec[0]

In [236]:
word2id("English")

[5, 14, 7, 12, 9, 19, 8]

In [245]:
# Replace the char to repected integet value

word_vec[:2]

# Contins sequence Matrix
new_vec = []

for x in word_vec:
    vec = []
    for j in x:
        value = od[j]
        vec.append(value)
    new_vec.append(vec)
    
# Interger encoding of the word_vec
new_vec[:4]

[[3, 18, 9, 3, 11, 5, 20], [3, 8, 1, 12], [18, 1, 8, 1], [8, 1, 9, 14]]

In [190]:
# padding

from tensorflow.keras.preprocessing.sequence import pad_sequences
maxl = 30
x_data_vec = pad_sequences(new_vec, maxlen=maxl)

In [191]:
x_data_vec.shape # 12749 rows of data and sequence length of 30

(12749, 30)

In [192]:
x_data_vec[0]

array([ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  3, 18,  9,  3, 11,  5, 20])

In [203]:
y_data_vec = np.array(data['label_encoded'])

y_data_vec.shape

(12749,)

In [202]:
x_data_vec.shape

(12749, 30)

In [204]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(x_data_vec, y_data_vec, test_size=0.20)

In [205]:
X_train.shape

(10199, 30)

In [206]:
X_test.shape

(2550, 30)

In [207]:
Y_train.shape

(10199,)

In [208]:
# Reshare the vectors for LSTM 

X_train=X_train.reshape(10199,30,1)
X_test=X_test.reshape(2550,30,1)
Y_train=Y_train.reshape(10199,1)
Y_test=Y_test.reshape(2550,1)

In [209]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout


model_classifier =Sequential()
model_classifier.add(LSTM(128, return_sequences = True, input_shape = (X_train.shape[1], 1)))
model_classifier.add(LSTM(64, activation='tanh'))
model_classifier.add(Dense(1, activation='sigmoid'))
#model_classifier.add(Dense(2, activation='softmax'))
model_classifier.summary()

WARNING:tensorflow:From c:\users\insakum46\appdata\local\programs\python\python37\lib\site-packages\tensorflow_core\python\ops\resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.

Using TensorFlow backend.

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_1 (LSTM)                (None, 30, 128)           66560
_________________________________________________________________
lstm_2 (LSTM)                (None, 64)                49408
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 65
=================================================================
Total params: 116,033
Trainable params: 116,033
Non-trainable params: 0
_________________________________________________________________

In [210]:
# try using different optimizers and different optimizer configs
model_classifier.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

WARNING:tensorflow:From c:\users\insakum46\appdata\local\programs\python\python37\lib\site-packages\tensorflow_core\python\ops\nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [211]:
model_classifier.fit(X_train, Y_train,batch_size=128,epochs=50,validation_data=(X_test, Y_test))

WARNING:tensorflow:From c:\users\insakum46\appdata\local\programs\python\python37\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Train on 10199 samples, validate on 2550 samples
Epoch 1/50
10199/10199 [==============================] - 14s 1ms/step - loss: 0.6038 - accuracy: 0.6659 - val_loss: 0.5686 - val_accuracy: 0.7129
Epoch 2/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.5580 - accuracy: 0.7162 - val_loss: 0.5524 - val_accuracy: 0.7204
Epoch 3/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.5401 - accuracy: 0.7255 - val_loss: 0.5509 - val_accuracy: 0.7231
Epoch 4/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.5264 - accuracy: 0.7314 - val_loss: 0.5355 - val_accuracy: 0.7169
Epoch 5/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.5179 - accuracy: 0.7384 - val_loss: 0.5210 - val_accuracy: 0.7208
Epoch 6/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.4994 - accuracy: 0.7500 - val_loss: 0.5199 - val_accuracy: 0.7341
Epoch 7/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.4884 - accuracy: 0.7514 - val_loss: 0.5064 - val_accuracy: 0.7388
Epoch 8/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.4740 - accuracy: 0.7599 - val_loss: 0.4817 - val_accuracy: 0.7431
Epoch 9/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.4680 - accuracy: 0.7630 - val_loss: 0.4768 - val_accuracy: 0.7573
Epoch 10/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.4527 - accuracy: 0.7707 - val_loss: 0.4706 - val_accuracy: 0.7671
Epoch 11/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.4468 - accuracy: 0.7776 - val_loss: 0.4541 - val_accuracy: 0.7827
Epoch 12/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.4354 - accuracy: 0.7869 - val_loss: 0.4466 - val_accuracy: 0.7737
Epoch 13/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.4263 - accuracy: 0.7936 - val_loss: 0.4429 - val_accuracy: 0.7773
Epoch 14/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.4173 - accuracy: 0.7969 - val_loss: 0.4388 - val_accuracy: 0.7843
Epoch 15/50
10199/10199 [==============================] - 14s 1ms/step - loss: 0.4021 - accuracy: 0.8139 - val_loss: 0.4265 - val_accuracy: 0.8051
Epoch 16/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.3960 - accuracy: 0.8213 - val_loss: 0.4276 - val_accuracy: 0.8129
Epoch 17/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.3874 - accuracy: 0.8256 - val_loss: 0.4158 - val_accuracy: 0.8051
Epoch 18/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.3730 - accuracy: 0.8371 - val_loss: 0.4195 - val_accuracy: 0.8051
Epoch 19/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.3644 - accuracy: 0.8372 - val_loss: 0.4033 - val_accuracy: 0.8204
Epoch 20/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.3584 - accuracy: 0.8382 - val_loss: 0.3979 - val_accuracy: 0.8376
Epoch 21/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.3436 - accuracy: 0.8514 - val_loss: 0.4065 - val_accuracy: 0.8259
Epoch 22/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.3363 - accuracy: 0.8575 - val_loss: 0.3914 - val_accuracy: 0.8416
Epoch 23/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.3269 - accuracy: 0.8609 - val_loss: 0.3846 - val_accuracy: 0.8471
Epoch 24/50
10199/10199 [==============================] - 14s 1ms/step - loss: 0.3196 - accuracy: 0.8590 - val_loss: 0.3859 - val_accuracy: 0.8490
Epoch 25/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.3124 - accuracy: 0.8619 - val_loss: 0.3745 - val_accuracy: 0.8302
Epoch 26/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.3002 - accuracy: 0.8699 - val_loss: 0.3743 - val_accuracy: 0.8498
Epoch 27/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.2938 - accuracy: 0.8767 - val_loss: 0.3651 - val_accuracy: 0.8588
Epoch 28/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.2871 - accuracy: 0.8780 - val_loss: 0.3666 - val_accuracy: 0.8506
Epoch 29/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.2811 - accuracy: 0.8822 - val_loss: 0.3639 - val_accuracy: 0.8463
Epoch 30/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.2741 - accuracy: 0.8822 - val_loss: 0.3806 - val_accuracy: 0.8541
Epoch 31/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.2700 - accuracy: 0.8818 - val_loss: 0.3579 - val_accuracy: 0.8553
Epoch 32/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.2617 - accuracy: 0.8877 - val_loss: 0.3594 - val_accuracy: 0.8549
Epoch 33/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.2544 - accuracy: 0.8912 - val_loss: 0.3490 - val_accuracy: 0.8604
Epoch 34/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.2486 - accuracy: 0.8933 - val_loss: 0.3474 - val_accuracy: 0.8584
Epoch 35/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.2448 - accuracy: 0.8974 - val_loss: 0.3461 - val_accuracy: 0.8714
Epoch 36/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.2385 - accuracy: 0.8972 - val_loss: 0.3539 - val_accuracy: 0.8655
Epoch 37/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.2347 - accuracy: 0.8971 - val_loss: 0.3401 - val_accuracy: 0.8675
Epoch 38/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.2328 - accuracy: 0.8998 - val_loss: 0.3402 - val_accuracy: 0.8682
Epoch 39/50
10199/10199 [==============================] - 12s 1ms/step - loss: 0.2280 - accuracy: 0.9040 - val_loss: 0.3455 - val_accuracy: 0.8702
Epoch 40/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.2228 - accuracy: 0.9043 - val_loss: 0.3479 - val_accuracy: 0.8706
Epoch 41/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.2154 - accuracy: 0.9089 - val_loss: 0.3354 - val_accuracy: 0.8792
Epoch 42/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.2127 - accuracy: 0.9109 - val_loss: 0.3360 - val_accuracy: 0.8675
Epoch 43/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.2072 - accuracy: 0.9143 - val_loss: 0.3520 - val_accuracy: 0.8733
Epoch 44/50
10199/10199 [==============================] - 14s 1ms/step - loss: 0.2034 - accuracy: 0.9154 - val_loss: 0.3301 - val_accuracy: 0.8800
Epoch 45/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.1996 - accuracy: 0.9151 - val_loss: 0.3430 - val_accuracy: 0.8784
Epoch 46/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.2011 - accuracy: 0.9172 - val_loss: 0.3517 - val_accuracy: 0.8631
Epoch 47/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.1941 - accuracy: 0.9201 - val_loss: 0.3439 - val_accuracy: 0.8800
Epoch 48/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.1959 - accuracy: 0.9155 - val_loss: 0.3275 - val_accuracy: 0.8780
Epoch 49/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.1906 - accuracy: 0.9212 - val_loss: 0.3369 - val_accuracy: 0.8804
Epoch 50/50
10199/10199 [==============================] - 13s 1ms/step - loss: 0.1846 - accuracy: 0.9261 - val_loss: 0.3595 - val_accuracy: 0.8729

In [255]:
pad_sequences([word2id("english")], maxlen=maxl).shape

(1, 30)

In [ ]:


X_train.reshape(10199,30,1)

In [304]:
dict = {0:"English",1:"Hindi"}

'''Method to preidct the Language'''
def predictLanguage(model,word):
    
    # Word 2 vector conversion
    word_vec = pad_sequences([word2id(word)], maxlen=maxl)
    
    # Reshape the vector 3D
    word_vec = word_vec.reshape(1,30,1)
    
    # Predict the word from model
    pred = model.predict(word_vec)
    
    pred_output = pred[0,0]
    
    # Set the boundry
    if pred_output >= 0.5:
        output = 1
    else:
        output = 0
    
    # return thr output
    return dict[output]

In [305]:
predictLanguage(model_classifier,"kya")

'Hindi'

In [306]:
# choose a random element from a list
from random import seed
from random import choice
# seed random number generator
seed(1)
# prepare a sequence
sequence = [i for i in range(20)]
# make choices from the sequence

index = []

for _ in range(10):
    selection = choice(sequence)
    index.append(selection)
    
actual_output = []
predicted_output = []

df = data.iloc[index,:]

In [307]:
df

       Word    label  label_encoded
4      yaha    Hindi              1
18    cover  English              0
2      raha    Hindi              1
8   youtube  English              0
3      hain    Hindi              1
15  kishore    Hindi              1
14      hai    Hindi              1
15  kishore    Hindi              1
12       pe    Hindi              1
6     liked  English              0

In [308]:
for index, row in df.iterrows():
    
    actual_output.append(row['label'])
    
    word = row['Word']
    
    predicted_output.append(predictLanguage(model_classifier,word))

In [309]:
pd.DataFrame({"Actual":actual_output,"Predicted":predicted_output})

    Actual Predicted
0    Hindi     Hindi
1  English   English
2    Hindi     Hindi
3  English   English
4    Hindi     Hindi
5    Hindi   English
6    Hindi     Hindi
7    Hindi   English
8    Hindi     Hindi
9  English   English