In [ ]:
## Example 01

In [ ]:
cities = ['London', 'Berlin', 'Berlin', 'New York', 'London']

print(cities)

from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
city_labels = encoder.fit_transform(cities)

print(city_labels)

['London', 'Berlin', 'Berlin', 'New York', 'London']

c:\users\bmi_cims\appdata\local\programs\python\python36\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
c:\users\bmi_cims\appdata\local\programs\python\python36\lib\site-packages\numpy\.libs\libopenblas.TXA6YQSD3GCQQC22GEQ54J2UDCXDXHWN.gfortran-win_amd64.dll
c:\users\bmi_cims\appdata\local\programs\python\python36\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  stacklevel=1)

In [6]:
import pandas as pd

df = pd.DataFrame(['S','C','Q','S','S','C','Q','Q','C','S'],columns=['Embarked'])

df.head()

  Embarked
0        S
1        C
2        Q
3        S
4        S

In [7]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(sparse=False)
X_after = encoder.fit_transform(df[['Embarked']])

X_after

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.]])

In [8]:
df['Embarked_C'] = X_after[:,0:1]
df['Embarked_Q'] = X_after[:,1:2]
df['Embarked_S'] = X_after[:,2:3]

In [9]:
df

  Embarked  Embarked_C  Embarked_Q  Embarked_S
0        S         0.0         0.0         1.0
1        C         1.0         0.0         0.0
2        Q         0.0         1.0         0.0
3        S         0.0         0.0         1.0
4        S         0.0         0.0         1.0
5        C         1.0         0.0         0.0
6        Q         0.0         1.0         0.0
7        Q         0.0         1.0         0.0
8        C         1.0         0.0         0.0
9        S         0.0         0.0         1.0